* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container .result {
  text-align: center;
  background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  padding: 20px;
  border-radius: 15px;
  color: white;
  width: 200px;
}

.container .result p {
  opacity: 0.6;
  font-size: 11px;
}

.container .result .score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  margin: 20px auto;
}

.container .result h3 {
  margin-bottom: 10px;
}

.container .summary {
  padding: 20px;
}

.container .summary h3 {
  color: hsl(224, 30%, 27%);
}

.container .summary .scr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .summary .scr .score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.container .summary .scr .score div {
  display: flex;
  justify-content: space-around;
  gap: 2px;
  align-items: center;
}

.container .summary .scr div p {
  font-size: 11px;
}

.container .summary .scr .reaction .cc p {
  color: hsl(0, 100%, 67%);
}

.container .summary .scr .memory .cc p {
  color: hsl(39, 100%, 56%);
}

.container .summary .scr .verbal .cc p {
  color: hsl(166, 100%, 37%);
}

.container .summary .scr .visual .cc p {
  color: hsl(234, 85%, 45%);
}

.container .summary .scr .reaction {
  background-color: hsla(0, 100%, 67%, 0.15);
}

.container .summary .scr .memory {
  background-color: hsla(39, 100%, 56%, 0.15);
}

.container .summary .scr .verbal {
  background-color: hsla(166, 100%, 37%, 0.15);
}

.container .summary .scr .visual {
  background-color: hsla(234, 85%, 45%, 0.15);
}

.scores {
  font-weight: 700;
  color: hsl(224, 30%, 27%);
}

button {
  width: 100%;
  height: 30px;
  color: white;
  border: none;
  background-color: hsl(224, 30%, 27%);
  margin-top: 20px;
  border-radius: 15px;
}

button:hover {
  background-color: hsl(241, 81%, 54%);
}

@media only screen and (max-width: 375px) {
  body {
    display: block;
    height: auto;
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }

  .container .result {
    width: 80%;
    border-radius: 0 0 10px 10px;
  }

  .container .summary {
    width: 80%;
  }

  .container .summary h3 {
    margin: 20px 0;
  }
}
